#mybtn{
    border-color: #8cf6b1 ;
    padding:20px;
    background-color: #36835d;
    width: 150px;
    color: #8cf6b1;
    border-radius: 7px;
    font-family: Arial;
    font-size: 20px
}

#mybtn:hover{
    border-color: gainsboro;
    color: black;
    cursor: pointer;
}
h2{
    font-family: Arial;
    color:#36835d ;
}
